/* General Styles */
body{
    font-family: Outfit, sans-serif;
    font-weight: 600;
}

body {
    margin: 0;
    padding: 0;
    background: var(--first-color);
    color: var(--third-color);
    line-height: 1.6;
}

/* Variables */
:root {
    --first-color: #ececec;
    --second-color: #9fd3c7;
    --third-color: #385170;
    --fourth-color: #142d4c;
}

/* Header */
header {
    background: var(--fourth-color);
    color: var(--first-color);
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
    display: inline-block;
    color: var(--second-color);
}

header h1 a {
    text-decoration: none;
    color: var(--second-color);
}

header h1 a:hover {
    color: var(--first-color);
}

/* Logo */
header a img {
    display: block;
    max-height: 50px;
    border-radius: 5px;
    height: 50px; 
    margin-left: 20px;
}

#logoName{
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 20px;
}

/* Navigation Bar */
nav {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: var(--first-color);
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: var(--second-color);
    color: var(--fourth-color);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    header {
        text-align: center;
        padding: 10px;
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    nav ul li a {
        padding: 10px 20px;
    }
}

.begginJourney{
    position: absolute;
    justify-content: center;
    top: 150px;
    display: inline;
}

